<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="#">
        <img src="../assets/cptuEgpLogo.gif" alt="luv2shop" class="img-responsive">
      </a>
    </div>
    <div class="menu-sidebar-content js-scrollbar1">
      <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
          <li class="nav-item active">
            <a routerLink="home" routerLinkActive="active" class="nav-link">Home</a>
          </li>
          <li *ngIf="isLoggedin==1" class="nav-item active">
            <a routerLink="tender" routerLinkActive="active" class="nav-link">Tenders</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <!-- PAGE CONTAINER-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <form class="form-header" onsubmit="return false;" method="GET">
              <!-- <input class="au-input au-input-xl" type="text" name="search"
                placeholder="Search for tender ..." />
              <button class="au-btn-submit" type="submit">
                Search
              </button> -->
            </form>
            <div class="cart-area d-n">
                <div>
                  <a *ngIf="!isLoggedin && isLoggedin != 1" class="btn" style="background-color: #ffffff; color: rgb(39, 30, 30);" routerLink="login">Login</a>
                  <a *ngIf="isLoggedin && isLoggedin == 1" class="btn" style="background-color: #FE0000; color: white;" (click)="logout()">Logout</a>
                </div>
            </div>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->
    <div style="margin: 5% 2% 2% 2%;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
