<div class="container-fluid">
  <div *ngIf="isLoggedin!=1" class="alert alert-danger">
      Please Login To Your Profile
  </div>
  <div class="card">
    <div class="card-header">
      <div class="h6">
        About e-Government Procurement (e-GP) System
      </div>
    </div>
    <div class="card-body">
        National e-Government Procurement (e-GP) portal ( i.e. https://www.eprocure.gov.bd ) of the Government of the People’s Republic of Bangladesh is developed, owned and being operated by the Central Procurement Technical Unit (CPTU), IME Division of Ministry of Planning. The e-GP system provides an on-line platform to carry out the procurement activities by the Public Agencies - Procuring Agencies (PAs) and Procuring Entities (PEs).
        The e-GP system is a single web portal from where and through which PAs and PEs will be able to perform their procurement related activities using a dedicated secured web based dashboard. The e-GP system is hosted in e-GP Data Center at CPTU, and the e-GP web portal is accessible by the PAs and PEs through internet for their use.
        This complete e-GP solution introduced under the Public Procurement Reform (PPR) Program is being supported by the World Bank and gradually used by all government organizations. This online platform also helps them ensuring equal access to the Bidders/Tenderers and also ensuring efficiency, transparency and accountability in the public procurement process in Bangladesh.
    </div>
  </div>
</div>
